

.slider {
    width: 100%;
    height: 20px; /* Adjust height as needed */
    /* margin-left: 2rem; */
    /* margin-right: 2rem; */
    margin-top: 9px;
  }

/*  span{
    margin-top: -4px;
    display: flex;
    margin-left: 2rem; */
    /* margin-right: 2rem;
    flex-direction: row;
    justify-content: space-around;
  } */
  
  .track {
    background: green; /* Background color of the track */
    height: 5px; /* Height of the track */
    border-radius: 5px; /* Rounded edges for the track */
  }
  
  .thumb {
    box-sizing: content-box;
    height: 19px; 
    width: 19px; 
    background: black; 
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer; 
    margin-top: -9px; 
  }
  
  .thumb:hover {
    background: black;
  }
  

  